@inherits LayoutComponentBase

<div class="d-flex flex-column h-100">
    <header>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
	        <div class="container-fluid">
		        <a class="navbar-brand" href="#">Axie Energy Counter</a>
            </div>
        </nav>
    </header>

    <div class="main">
        <div class="text-secondary px-4 py-5 mt-3 text-center bg-light">
            <div class="container-fluid">
	            <div class="col-lg-6 mx-auto">
		            @Body
	            </div>
            </div>
        </div>
    </div>

    <footer class="footer mt-auto py-3 bg-dark">
        <div class="container-fluid">
			<span class="text-muted">© 2021 Eximius | Echelon</span>
        </div>
    </footer>
</div>